---
import Greeting from "../components/Greeting.astro";
import Layout from "../layouts/Layout.astro";

import profilePicture from "../images/jasper-picture.jpg";
import { getImage, Image } from "astro:assets";
import NavCard from "../components/NavCard.astro";

const sections = [
  {
    title: "Experience",
    description: "My work experience, extracurriculars, and volunteering.",
    hoverStyle: "hover:bg-orange-200 hover:text-black",
    href: "/experience/",
  },
  {
    title: "Education",
    description: "What I've done at school, from grade 9 to university.",
    hoverStyle: "hover:bg-purple-200 hover:text-black",
    href: "/education/",
  },
  {
    title: "Projects",
    description:
      "The various projects I've worked on during hackathons and my free time.",
    hoverStyle: "hover:bg-green-200 hover:text-black",
    href: "/projects/",
  },
];
---

<style>
  .content {
    animation: 0.25s linear 1.5s fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>
<Layout title="Home">
  <main
    class="max-w-7xl mx-auto px-4 sm:px-8 grid grid-cols-8 gap-x-10 gap-y-10"
  >
    <div class="col-span-8 lg:col-span-5">
      <Greeting />
      <div class="content mt-5 max-w-3xl">
        <p class="text-lg">
          I'm an incoming Software Engineering student at the University of
          Waterloo. I love all things tech, from working on tutoring websites to
          coding robots to participating in hackathons. I'm also an avid
          basketball player, competing in tournaments across Canada and the
          United States.
        </p>
        <div class="flex gap-5 justify-center flex-wrap mt-5">
          {
            sections.map((section) => (
              <NavCard
                href={section.href}
                title={section.title}
                description={section.description}
                hoverStyle={section.hoverStyle}
              />
            ))
          }
        </div>
      </div>
    </div>
    <Image
      alt="Profile picture"
      class="content col-span-8 lg:col-span-3 bg-cover bg-center h-96 lg:h-full object-cover object-center"
      src={profilePicture}
      format="webp"
      widths={[398, 473, 607, 703, 959]}
      sizes="(max-width: 430px) 398px, (max-width: 639px) 607px, (max-width: 767px) 703px, (max-width: 1023px) 959px, 473px"
    />
  </main>
</Layout>
