---
import Layout from "../layouts/Layout.astro";
import arduinoLedsSong from "../images/arduino-leds-song.png";
import countingProject from "../images/counting-project.png";
import familyOfFunctions from "../images/family-of-functions.png";
import frcDiscordBot from "../images/frc-discord-bot.png";
import parodyMaker from "../images/parody-maker.png";
import pushbuttonToy from "../images/pushbutton-toy.jpg";
import recipeDeals from "../images/recipe-deals.svg";
import societyWebsite from "../images/society-website.png";

const projects = [
  {
    name: "parody-maker",
    description:
      "A website that helps users create lyrics for parodies of songs.",
    href: "https://github.com/Raptors65/parody-maker",
    imageSrc: parodyMaker.src,
    bgColor: "255, 255, 255",
    tags: ["Web", "Next.js", "TypeScript"],
    textColor: "text-black",
    tagColor: "bg-black",
  },
  {
    name: "pushbutton-toy",
    description:
      "Converts an Arduino into a toy that can play Simon Says, Whack-A-Mole, and a piano.",
    href: "https://github.com/Raptors65/pushbutton-toy",
    imageSrc: pushbuttonToy.src,
    bgColor: "145, 63, 41",
    tags: ["Arduino", "C++", "Hardware"],
    textColor: "text-white",
    tagColor: "bg-white",
  },
  {
    name: "recipe-deals",
    description:
      "A website that finds recipes based on what's on sale at the local grocery store.",
    href: "https://github.com/Raptors65/recipe-deals",
    imageSrc: recipeDeals.src,
    bgColor: "241, 173, 64",
    tags: ["Web", "Web Scraping"],
    textColor: "text-black",
    tagColor: "bg-black",
  },
  {
    name: "frc-discord-bot",
    description:
      "A bot that uses the API from The Blue Alliance to access data about FIRST Robotics Competition events.",
    href: "https://github.com/Raptors65/frc-discord-bot",
    imageSrc: frcDiscordBot.src,
    bgColor: "44, 45, 49",
    tags: ["Discord", "Robotics", "API"],
    textColor: "text-white",
    tagColor: "bg-white",
  },
  {
    name: "family-of-functions",
    description:
      "A grade 11 math project: a mathematical twist on Harry Potter.",
    href: "https://github.com/Raptors65/family-of-functions",
    imageSrc: familyOfFunctions.src,
    bgColor: "18, 27, 42",
    tags: ["Web", "Math"],
    textColor: "text-white",
    tagColor: "bg-white",
  },
  {
    name: "society-website",
    description:
      "An informational website about the implications of AI for a grade 12 computer science project.",
    href: "https://github.com/Raptors65/society-website",
    imageSrc: societyWebsite.src,
    bgColor: "0, 70, 184",
    tags: ["Web", "Computer Science", "AI"],
    textColor: "text-white",
    tagColor: "bg-white",
  },
  {
    name: "counting-project",
    description:
      "A website that walks through a fictional story involving various math problems (for a grade 12 data management project).",
    href: "https://github.com/Raptors65/counting-project",
    imageSrc: countingProject.src,
    bgColor: "45, 29, 13",
    tags: ["Web", "Math", "Minecraft"],
    textColor: "text-white",
    tagColor: "bg-white",
  },
  {
    name: "arduino-leds-song",
    description: "A few LEDs synced to Can't Feel My Face by The Weeknd.",
    href: "https://github.com/Raptors65/arduino-leds-song",
    imageSrc: arduinoLedsSong.src,
    bgColor: "58, 88, 160",
    tags: ["Arduino", "C++", "Hardware", "Music"],
    textColor: "text-white",
    tagColor: "bg-white",
  },
];
---

<style></style>

<Layout title="Projects">
  <main class="max-w-7xl mx-auto px-4 sm:px-8">
    <h1 class="font-mono text-2xl sm:text-3xl md:text-5xl">Projects</h1>
    <div
      class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-3 mt-5"
    >
      {
        projects.map((project) => (
          <a
            class="relative border border-gray-400 transition duration-30 rounded-xl overflow-hidden group"
            href={project.href}
            target="_blank"
            style={`background-color: rgb(${project.bgColor})`}
          >
            <div
              class="absolute w-full h-60 group-hover:scale-110 transition bg-center bg-cover"
              style={`background-image: linear-gradient(to bottom, rgba(${project.bgColor}, 0) 0%, rgba(${project.bgColor}, 0) 90%, rgba(${project.bgColor}, 1) 100%), url(${project.imageSrc});`}
            />
            <div class:list={["mt-60 p-2 z-10 relative", project.textColor]}>
              <h2 class="text-xl font-bold">{project.name}</h2>
              <p>{project.description}</p>
              <div class="flex flex-wrap gap-2 mt-2">
                {project.tags.map((tag) => (
                  <span
                    class:list={[
                      "bg-opacity-20 px-2 rounded-full text-sm",
                      project.tagColor,
                    ]}
                  >
                    {tag}
                  </span>
                ))}
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
