---
interface Props {
  experiences: {
    title: string;
    company: string;
    period: string;
    timelineDate: string;
    type: string;
    points: string[];
  }[];
}

const { experiences } = Astro.props;
---

<div class="relative mt-5 ml-3 max-w-3xl">
  <div
    class="before:content-[''] before:absolute before:w-1 before:h-full before:bg-white"
  >
    {
      experiences.map((experience) => (
        <div class="relative mb-5">
          <div class="w-7 h-7 bg-white rounded-full absolute -left-3" />
          <div class="text-lg ml-7">{experience.timelineDate}</div>
          <div class="bg-white bg-opacity-5 ml-7 mt-2 p-3">
            <h2 class="text-lg sm:text-xl font-bold">
              {experience.title} - {experience.company}
            </h2>
            <div class="text-base sm:text-lg">
              {experience.period} &bullet; {experience.type}
            </div>
            <ul class="list-disc list-outside ml-5">
              {experience.points.map((point) => (
                <li class="list-item">{point}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</div>
